{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="{% if teacher.profile_picture %}{{ teacher.profile_picture.url }}{% else %}https://w7.pngwing.com/pngs/337/270/png-transparent-cartoon-character-teacher-3d-computer-graphics-photography-cartoon-thumbnail.png{% endif %}" alt="{{ teacher.first_name }} {{ teacher.last_name }} Profile" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ teacher.first_name }} {{ teacher.last_name }}</h5>
                <p class="card-text">Email: {{ teacher.email }}</p>
                <p class="card-text">Phone Number: {{ teacher.phone_number }}</p>
                <p class="card-text">Room Number: {{ teacher.room_number }}</p>
                <p class="card-text">Subjects Taught: {{ teacher.subjects_taught }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
