{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Teacher Directory</h1>
<div class="list-group">
    {% for teacher in teachers %}
    <a href="{% url 'teacher_detail' teacher.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div>
            <img src="{% if teacher.profile_picture %}{{ teacher.profile_picture.url }}{% else %}https://w7.pngwing.com/pngs/337/270/png-transparent-cartoon-character-teacher-3d-computer-graphics-photography-cartoon-thumbnail.png{% endif %}" alt="{{ teacher.first_name }} {{ teacher.last_name }} Profile" class="rounded-circle mr-3" style="width: 50px;">
            {{ teacher.first_name }} {{ teacher.last_name }}
        </div>
        <span class="badge badge-primary badge-pill">{{ teacher.subjects_taught }}</span>
    </a>
    {% endfor %}
</div>
{% endblock %}
