{% extends 'base.html' %}

{% block content %}
<h1>Upload Teachers CSV</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>
{% endblock %}
